*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: whitesmoke;
}

.top{
    height: 200px;
    background-color: #333;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.titel{
    font-size: 100px; 
}
.titel_br{
    width: 400px;
    color: red;
}
.main{
    padding: 100px 50px;
}
.button{
    border: solid 1px black;
    color: white;
    padding: 10px;
}

.button.supr{
    background-color: #ff5a5a;
}
.button.upload{
    background-color: #41c857;
}
.galerie{
    position: absolute;
    border: solid 1px white;
    left: 10px;
    top: 10px;
}
.button:hover{
    padding: 15px;
}
